.wrapper {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
  padding: 10vh 50px;
  background-image: asset-url('moon_ground.jpg');
}

.margin-top {
  margin-top: 73px;
}
